<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/hotel_management_system/RLC_CSS_Style.css">
</head>
<div class='centered vertical-menu'>
    <img src="/hotel_management_system/images/LWithN.png" height="auto" width='174px'>
    <a href="/hotel_management_system/schedule/">當日房況</a>
    <a href="/hotel_management_system/room_arrangement/">房號安排</a>
    <a href="/hotel_management_system/booking_list/">所有訂單</a>
    <a href="/hotel_management_system/customer/">客戶資料</a>
    <a href="/hotel_management_system/daily_report/">住房日報</a>
    <a href="/hotel_management_system/duty_shift/">結帳作業</a>
    <a href="#" class='dropdown-btn' onClick='dropdown_toogle(this)'>設定<i id='arrow-icon' class='fa fa-caret-down'></i></a>
    <div id='dropdown-container' style='display: none;'>
        <a href="/hotel_management_system/discount/project.php">房價與專案</a>
        <a href="/hotel_management_system/discount/price.php">房型編輯</a>
        <a href="/hotel_management_system/hr_system/">人員管理</a>
        <a href="/hotel_management_system/extra_expense/">加值中心</a>
        <a href="#" onClick='logout()'>登出</a>
    </div>
</div>