<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/hotel_management_system/images/LWithN.png" height="auto" width='174px'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/hotel_management_system/schedule/">當日房況</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotel_management_system/room_arrangement/">房號安排</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotel_management_system/booking_list/">所有訂單</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotel_management_system/customer/">客戶資料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotel_management_system/daily_report/">住房日報</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotel_management_system/duty_shift/">結帳作業</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    設定
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/hotel_management_system/discount/project.php">房價與專案</a>
                    <a class="dropdown-item" href="/hotel_management_system/discount/price.php">房型編輯</a>
                    <a class="dropdown-item" href="/hotel_management_system/hr_system/">人員管理</a>
                    <a class="dropdown-item" href="/hotel_management_system/extra_expense/">加值中心</a>
                    <a class="dropdown-item" href="#" onClick='logout()'>登出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>